* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    font-weight: 400;
    line-height: 150%;
}

body {
    background: #1F2124;
    margin-bottom: 0;
    color: #fff;
}

header {
    width: 100%;
    height: 100px;
    width: 100%;
    margin: auto;
    padding: 30px;
    color: #ffffff6e;
}

.nav {
    margin: auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
}

header h1 {
    font-size: 45px;
}

.logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
}


.container {
    width: 80%;
    margin: auto;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-bottom: 0px;
    margin-top: 50px;
}

.in {
    margin: auto;
    width: 60%;
}

.text-area {
    border-radius: 25px;
    padding-top: 50px;
    padding-left: 50px;
    border: none;
    background: #0f407d00;
    text-transform: initial;
    width: 100%;
    color: #ffffff6e;
    height: 650px;
    resize: none;
    margin-bottom: 20px;
    font-size: 32px;
    box-shadow: 0px 0px 15px 1px #ffffff6e;
    
}
::placeholder {
    font-size: 25px;
    text-transform: initial;
}

.text-area:hover, .mensaje:hover {
    box-shadow: 0px 0px 20px 3px #ffffff6e;
    
}

.in .text-area:focus, .return .mensaje:focus {
    border-radius: 25px;
    box-shadow: 0px 0px 20px 5px #11e45b59;
    outline: none;
}

.return {
    margin: auto;
    width: 30%;
}

.fondo-mensaje {
    position: relative;
    width: 100%;
    height: 770px;
    border-radius: 24px;
}

.mensaje {
    box-shadow: 0px 0px 15px 1px #ffffff6e;
    padding: 50px 60px;
    top: 25px;
    left: 25px;
    width: 100%;
    height: 785px;
    background-color: #262a2f4e;
    /*
    background-image: url(/img/Muñeco.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    */
    border: none;
    border-radius: 24px;
    color: #ffffff6e;
    font-size: 22px;
    resize: none;
    font-size: 32px;
}


.botones {
    width: 100%;
    margin: auto;
    display: flex;
    margin-top: 18px;
    gap: 30px;
}

.btn-encriptar {
    background-color: #1e5ba610;
    border: none;
    border-radius: 24px;
    color: #ffffff6e;
    cursor: pointer;
    height: 67px;
    width: 100%;
    font-size: 25px;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.3s;
}

.btn-encriptar:hover {
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2);

}

.btn-desencriptar {
    border: none;
    background: #2E3338;
    border-radius: 24px;
    cursor: pointer;
    height: 67px;
    color: #ffffff6e;
    width: 100%;
    font-size: 25px;
}

.copy {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 30px;
    position: relative;
    width: 100%;
    bottom: 150px;
}

#btn-copiar {
    position: absolute;
    bottom: -130px;
    border: none;
    background: #11e45b59;
    border-radius: 24px;
    color: #ffffff6e;
    cursor: pointer;
    height: 67px;
    width: 90%;
    margin: auto;
    display: none;
    font-size: 25px;
}

.copy-modal {
    position: absolute;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
    background: rgba(114, 143, 250, 0.152);
    border-radius: 24px;
    color: #ffffff6e;
    height: 70px;
    width: 90%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: none;
    font-size: 25px;
}

.copy-modal.oculto {
    opacity: 0;
    pointer-events: none;
}

.informacion {
    color: #6f767c;
    font-size: 18px;
}

.informacion span {
    color: #ffffff6e;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    background: rgba(114, 143, 250, 0.152);
}

footer {
    background: #0B0C0D;
    margin: auto;
    width: 100%;
    padding: 100px;
    margin-top: 90px;
    font-size: 25px;
}

.footer-flex {
    color: #ffffff83;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.footer-flex p {
    margin-top: 10px;
}